body {
    background-color: aquamarine;
    display: grid;
    justify-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

.timer {
    margin-top: 5px;
    font-size: 44px;
}

section {
    display: flex;
    column-gap: 20px;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 25px;
}

.lap {
    margin-top: 35px;
    font-size: 44px;
}